{% load staticfiles %}
<div class="show-card animated hidden">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="td-userhd"><span class="user-pic"><img src={% static "test/15.jpg" %}></span></td>
            <td align="right" class="text-align-r">
                <a href="" class="link-default">1</a>

                <div class="user-email">1@mail.com</div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><a href="" class="btn btn-micv5 btn-md btn-block">进入个人中心</a></td>
        </tr>
        <tr>
            <td colspan="2"><a href="" class="link-cancel">注销</a></td>
        </tr>
    </table>
</div>