{% extends "common/base.html" %}
{% load staticfiles %}
      {% block container %}
            <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">首页</a></li>
      <li class="active">麦子课程</li>
    </ol>
  </div>
  <div class="container container-course-list">
    <ul class="row course-list">
      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <section style="background-color:#A9BE32;">
          <a href="">
          	<img src="images/course/android.png">
            <article>
              <h3>Android应用开发工程师</h3>
              <p>23658位学员正在学习</p>
            </article>
          </a>
        </section>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      	<section style="background-color:#E68E38;">
          <a href="">
          	<img src="images/course/ios.png">
            <article>
              <h3>iOS开发工程师</h3>
              <p>23658位学员正在学习</p>
            </article>
          </a>
        </section>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      	<section style="background-color:#429FDA;">
          <a href="">
          	<img src="images/course/drupal.png">
            <article>
              <h3>Drupal网站开发工程师</h3>
              <p>23658位学员正在学习</p>
            </article>
          </a>
        </section>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      	<section style="background-color:#D3A21F;">
          <a href="">
          	<img src="images/course/cocos.png">
            <article>
              <h3>Cocos2D-X手机游戏 开发工程师</h3>
              <p>23658位学员正在学习</p>
            </article>
          </a>
        </section>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      	<section style="background-color:#EE5C5C;">
          <a href="">
          	<img src="images/course/windows8.png">
            <article>
              <h3>WindowsPhone应用 开发工程师</h3>
              <p>23658位学员正在学习</p>
            </article>
          </a>
        </section>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      	<section style="background-color:#35AC56;">
          <a href="">
          	<img src="images/course/android.png">
            <article>
              <h3>Android底层嵌入式工 程师</h3>
              <p>23658位学员正在学习</p>
            </article>
          </a>
        </section>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      	<section style="background-color:#5184CF;">
          <a href="">
          	<img src="images/course/android.png">
            <article>
              <h3>Android架构设计师</h3>
              <p>23658位学员正在学习</p>
            </article>
          </a>
        </section>
      </li>
    </ul>
    <div class="page-bg-g">
      <div class="row v5-pages">
        <div class="col-sm-12 v5-pages-list">
          <ul class="row fr">
            <li><a href="" class="v5-icon v5-icon-prev"></a></li>
            <li><a href="" class="page-num active">1</a></li>
            <li><a href="" class="page-num">2</a></li>
            <li><a href="" class="page-num">3</a></li>
            <li><a href="" class="page-num">4</a></li>
            <li><a href="" class="page-num">5</a></li>
            <li><a href="" class="v5-icon v5-icon-next"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
