<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="loginModalLabel">登录</h4>
            </div>
            <div class="modal-body">
                <section class="box-login v5-input-txt" id="box-login">
                    <ul>
                        <li class="form-group has-error"><input type="text" class="form-control"
                                                                placeholder="请输入邮箱账号/手机号"></li>
                        <li class="form-group"><input type="password" class="form-control" placeholder="请输入密码"></li>
                    </ul>
                    <p class="good-tips"><a href="#" data-toggle="modal" data-target="#forgetpswModal" id="btnForgetpsw"
                                            class="fr">忘记密码？</a>还没有账号？<a href="" data-toggle="modal"
                                                                         data-target="#registerModal" id="btnRegister">立即注册</a>
                    </p>

                    <div>
                        <button type="button" class="btn btn-micv5 btn-block">登录</button>
                    </div>
                    <div class="tips-error bg-danger">错误提示</div>
                </section>
            </div>
        </div>
    </div>
</div>