<div class="v5-topbar-login">
    <div class="v5-topbar-login-off" style="display:block;" id="userLogin">
        <a href="#" data-toggle="modal" data-target="#loginModal">登录</a>
    </div>
    <div class="v5-topbar-login-on cf">
        <dl>
            <dt>
                <a href="" class="dt-username" style="display:none;" id="userCenter">111
{#                    <span id="username"></span>#}
                    <i class="v5-icon v5-icon-rd"></i></a>
            </dt>
        </dl>
        <!--<a href="" class="dt-usermsg"><i class="v5-icon v5-icon-nomsg"></i></a>-->
        <a href="" class="dt-usermsg" style="display:none;" id="userMsg"><i class="v5-icon v5-icon-havemsg"></i><em>3</em></a>
    </div>
</div>

