{% load staticfiles %}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="registerModalLabel">注册</h4>
            </div>
            <div class="modal-body">
                <section class="box-register v5-input-txt" id="box-register">
                    <ul class="register-tabs" role="tablist">
                        <li class="active"><a href="#register-email" role="tab" data-toggle="tab">邮箱注册</a></li>
                        <li><a href="#register-mobile" role="tab" data-toggle="tab">手机注册</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="register-email">
                            <div class="form-group">
                                {{ register_email.email }}
                            </div>
                            <div class="form-group">
                                {{ register_email.password }}
                            </div>
                            <div class="form-group cf">
                                {{ register_email.check }}<span class="v5-yzm fr"><a
                                    href=""><img src={% static 'test/15.jpg' %}>换一张</a></span></div>
                        </div>
                        <div class="tab-pane" id="register-mobile" >
                            <div class="form-group cf">{{ register_phone.phone }}<span class="fr"><button
                                    type="button" class="btn btn-micv5 btn-send">发送验证码
                            </button></span></div>
                            <div class="form-group">{{ register_phone.checkPhone }}
                            </div>
                            <div class="form-group">{{ register_phone.password }}
                            </div>
                            <div class="form-group cf">{{ register_phone.check }}<span class="v5-yzm fr"><a
                                    href=""><img src={% static 'test/yzm.jpg' %}>换一张</a></span></div>
                        </div>
                    </div>
                    <p class="good-tips">已经有账号？<a href="#" data-toggle="modal" data-target="#loginModal" id="btnLogin">立即登录</a>
                    </p>

                    <div>
                        <input type="submit" class="btn btn-micv5 btn-block" value="注册并登录" id="registerLogin">
                    </div>
                    <div class="tips-error bg-danger" id="registerError"></div>
                </section>
            </div>
        </div>
    </div>
</div>