{% load staticfiles %}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="registerModalLabel">注册</h4>
            </div>
            <div class="modal-body">
                <section class="box-register v5-input-txt" id="box-register">
                    <ul class="register-tabs" role="tablist">
                        <li class="active"><a href="#register-email" role="tab" data-toggle="tab">邮箱注册</a></li>
                        <li><a href="#register-mobile" role="tab" data-toggle="tab">手机注册</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="register-email">
                            <div class="form-group"><input type="text" class="form-control" placeholder="请输入邮箱账号"></div>
                            <div class="form-group"><input type="password" class="form-control" placeholder="请输入密码">
                            </div>
                            <div class="form-group cf"><input type="text" class="form-control form-control-captcha fl"
                                                              placeholder="请输入验证码"><span class="v5-yzm fr"><a
                                    href=""><img src={% static 'test/15.jpg' %}>换一张</a></span></div>
                        </div>
                        <div class="tab-pane" id="register-mobile">
                            <div class="form-group cf"><input type="text" class="form-control form-control-phone fl"
                                                              placeholder="请输入手机号"><span class="fr"><button
                                    type="button" class="btn btn-micv5 btn-send">发送验证码
                            </button></span></div>
                            <div class="form-group"><input type="text" class="form-control" placeholder="请输入短信验证码">
                            </div>
                            <div class="form-group"><input type="password" class="form-control" placeholder="请输入密码">
                            </div>
                            <div class="form-group cf"><input type="text" class="form-control form-control-captcha fl"
                                                              placeholder="请输入验证码"><span class="v5-yzm fr"><a
                                    href=""><img src={% static 'test/yzm.jpg' %}>换一张</a></span></div>
                        </div>
                    </div>
                    <p class="good-tips">已经有账号？<a href="#" data-toggle="modal" data-target="#loginModal" id="btnLogin">立即登录</a>
                    </p>

                    <div>
                        <button type="button" class="btn btn-micv5 btn-block">注册并登录</button>
                    </div>
                    <div class="tips-error bg-danger">错误提示</div>
                </section>
            </div>
        </div>
    </div>
</div>