<div class="modal fade" id="forgetpswModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="forgetpswModalLabel">找回密码</h4>
            </div>
            <div class="modal-body">
                <section class="box-forgetpsw v5-input-txt" id="box-forgetpsw">
                    <ul>
                        <li class="form-group has-error">{{ reg_password.reg }}</li>
                    </ul>
                    <div>
                        <input type="submit" class="btn btn-micv5 btn-block" value="提交" id="reg_password">
                    </div>
                    <div class="tips-error bg-danger" id="error2"></div>
                </section>
            </div>
        </div>
    </div>
</div>