<div class="feedback">
    <div class="feedback-switch"></div>
    <div class="feedback-title">
        意见反馈
    </div>
    <div class="feedback-body">
        <ul>
            <li class="form-group"><input type="text" class="form-control" placeholder="请输入您的QQ号方便我们联系您"></li>
            <li class="form-group"><textarea class="form-control" rows="5"
                                             placeholder="使用过程中有什么意见及建议请反 馈给我们吧"></textarea></li>
            <li class="form-group">
                <button type="button" class="btn btn-micv5 btn-md btn-block">反馈</button>
            </li>
        </ul>
    </div>
</div>