{% extends "common/base.html" %}
{% load staticfiles %}
{% block title %}麦子学院{% endblock %}
{% block keywords %}麦子,麦子学院{% endblock %}
{% block description %}麦子学院第一版学生项目{% endblock %}
{% block header %}
    <header class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="64">
{% endblock %}
{% block container %}
    <div class="v5-banner-big">
        <div class="container">
            <div class="carousel-container">
                <div id="carousel">
                    {% for ad in ads %}
                        <div class="carousel-feature">
                            <a href="{{ ad.callback_url }}">
                                <img class="carousel-image" alt="{{ ad.title }}"
                                     src="{{ media_url }}{{ ad.image_url }}"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="v5-index-main">
        <div class="v5-titline"></div>
        <div class="container">
            <div class="v5-recommend">
                <div class="v5-tabs-box" id="v5-tabs">
                    <ul class="v5-tabs" id="v5-tabs" role="tablist">
                        <li class="active"><a href="#new" class="is-active" role="tab" data-toggle="tab">最新课程</a></li>
                        <li><a href="#most" role="tab" data-toggle="tab">最多播放</a></li>
                        <li><a href="#hot" role="tab" data-toggle="tab">最具人气</a></li>
                    </ul>
                    <div class="tabs-container tab-content">
                        <div class="v5-course-item tab-pane fade in active" id="new" data-holder="holdernew">
                            <div class="page-item">
                                <ul class="row course-list-index">

                                </ul>
                            </div>
                            <div class="page-bg-w">
                                <div class="row v5-pages">
                                    <div class="col-sm-12 v5-pages-list">
                                        <ul class="row fr">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="v5-course-item tab-pane fade" id="most" data-holder="holdermost">
                            <div class="page-item">
                                <ul class="row course-list-index">
                                </ul>
                            </div>
                            <div class="page-bg-w">
                                <div class="row v5-pages">
                                    <div class="col-sm-12 v5-pages-list">
                                        <ul class="row fr">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="v5-course-item tab-pane fade" id="hot" data-holder="holderhot">
                            <div class="page-item">
                                <ul class="row course-list-index">
                                </ul>
                            </div>
                            <div class="page-bg-w">
                                <div class="row v5-pages">
                                    <div class="col-sm-12 v5-pages-list">
                                        <ul class="row fr">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="v5-titline">
            <div class="container">
                <h1>名师风采</h1>
            </div>
        </div>
        <div class="container">
            <div class="tc-list">
                <a id="prev" class="prev" href="#"></a>

                <div class="tc-list-w">
                    <ul id="foo" class="cf">
                        {% for t in teachers %}
                            <li>
                                <dl>
                                    <dt><a href="{% url 'common:teacher_course' t.id %} "
                                           style="border-left-color:#00A388;">
                                        {% if t.avatar_middle_thumbnall %}
                                            <img src="{{ media_url }}{{ t.avatar_middle_thumbnall }}">
                                        {% endif %}
                                    </a>
                                    </dt>
                                    <dd>
                                        <h2>{{ t.last_name }}{{ t.first_name }}</h2>

                                        <h3>{{ t.description }}</h3>
                                    </dd>
                                </dl>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <a id="next" class="next" href="#"></a>
            </div>
        </div>
        <div class="v5-titline">
            <div class="container">
                <h1>推荐阅读</h1>
            </div>
        </div>
        <div class="container">
            <div class="v5-read cf">
                <div class="v5-read-item">
                    <div class="v5-read-list" style="background-color:#00A388;">
                        <h1>官方活动</h1>
                        <ul>
                            {% for arc in recommend_av %}
                                <li><a href="{{ arc.url }}" title="{{ arc.title }}">{{ arc.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p><img src="{% static 'test/3.jpg' %}"></p>
                </div>
                <div class="v5-read-item v5-read-item-mid">
                    <p><img src="{% static 'test/4.jpg' %}"></p>

                    <div class="v5-read-list" style="background-color:#FF6138;">
                        <h1>开发者咨询</h1>
                        <ul>
                            {% for arc in recommend_nw %}
                                <li><a href="{{ arc.url }}" title="{{ arc.title }}">{{ arc.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="v5-read-item">
                    <div class="v5-read-list" style="background-color:#00A388;">
                        <h1>技术交流</h1>
                        <ul>
                            {% for arc in recommend_dc %}
                                <li><a href="{{ arc.url }}" title="{{ arc.title }}">{{ arc.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p><img src="{% static 'test/5.jpg' %}"></p>
                </div>
            </div>
        </div>
        <div class="v5-titline">
            <div class="container">
                <h1>战略合作</h1>
            </div>
        </div>
        <div class="container">
            <div class="v5-strategic">
                <ul class="cf">
                    <li>
                        <a href=""><img src="{% static 'test/6.png' %}"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static 'test/7.png' %}"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static 'test/9.png' %}"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static 'test/10.png' %}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="v5-footer">
        <div class="container">
            <div class="v5-footer-container">
                <div class="v5-footer-links cf">
                    <dl class="f-link">
                        <dt>友情链接</dt>
                        <dd>
                            <ul>
                                <li class="cf">
                                    {% for lk in links %}
                                        <a href="{{ lk.callback_url }}" target="_blank">{{ lk.title }}</a><span>|</span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="follow">
                        <dt>关注我们</dt>
                        <dd>
                            <ul>
                                <li><a href=""><span class="sina"></span>新浪微博</a></li>
                                <li><a href=""><span class="weixin"></span>官方微信</a></li>
                                <li><a href=""><span class="qq"></span>腾讯微博</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="webmap">
                        <dt>网站导航</dt>
                        <dd>
                            <ul>
                                <li><a href="">网站首页</a></li>
                                <li><a href="">关于我们</a></li>
                                <li><a href="">联系我们</a></li>
                                <li><a href="">意见反馈</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="v5-footer-bottom">
                    <p>© 2012-2014 maiziedu.com | 服务条款 | 蜀ICP备13014270号-4 Version 4.0.1 release20140721.1</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script type="application/javascript">
        get_lastest_course(1, "date_publish", "new");
        get_lastest_course(1, "play_times", "most");
        get_lastest_course(1, "hot", "hot");

        function get_lastest_course(index, course_by, container) {
            var course_list = $("#" + container + " .course-list-index");
            var page_list = $("#" + container + " .fr");
            course_list.empty();
            $.ajax({
                url: '{% url "common:get_course_by_post" %}',
                async: false,
                data: {
                    'course_by': course_by,
                    'page': index
                },
                dataType: "json",
                error: function (xhr) {
                    course_list.html("获取课程出错");
                    page_list.html("");
                },
                success: function (response) {
                    if ("error" in response && response["error"].length > 0) {
                        course_list.html(response["error"]);
                        page_list.html("");
                    }
                    else {
                        course_list.html("");
                        $.each(response["data"], function (index, data) {
                            var li = '<li class="col-xs-12 col-sm-6 col-md-6 col-lg-3"><a href="#' + data[3] + '">' +
                                    '<dl><dt><div><img src="{{ media_url }}' + data[2] + '"></div>' +
                                    '</dt> <dd><span>' + data[0] + '</span><p>' + data[1] + '人正在学习</p>' +
                                    '</dd> </dl> </a></li>'
                            course_list.append(li);
                        });
                        page_list.html("");
                        if (response["current_page"] > 1) {
                            page_list.append('<li><a href="javascript:void(0);" class="v5-icon v5-icon-prev" ' +
                                    'onclick="get_lastest_course(' + (response["current_page"] - 1) +
                                    ',\'' + course_by + '\',\'' + container + '\');"></a></li>');
                        }
                        for (var i = 0; i < response["total_pages"]; i++) {
                            if (response["current_page"] == i + 1) {
                                page_list.append('<li><a href="javascript:void(0);" class="page-num active" ' +
                                        'onclick=get_lastest_course(' + (i + 1) +
                                        ',\'' + course_by + '\',\'' + container + '\');>' + (i + 1) + '</a></li>');
                            }
                            else {
                                page_list.append('<li><a href="javascript:void(0);" class="page-num" ' +
                                        'onclick="get_lastest_course(' + (i + 1) +
                                        ',\'' + course_by + '\',\'' + container + '\');">' + (i + 1) + '</a></li>');
                            }
                        }
                        if (response["current_page"] != response["total_pages"]) {
                            page_list.append('<li><a href="javascript:void(0);" class="v5-icon v5-icon-next" ' +
                                    'onclick="get_lastest_course(' + (response["current_page"] + 1) +
                                    ',\'' + course_by + '\',\'' + container + '\');"></a></li>');
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}